<div class="bg-white h-full w-1/6 border-r text-xl text-gray-800 leading-normal">
    
    <ul class="list-reset">
        @each(link in links)
            <li class="py-2">
                <a href="{{ link.href }}">
                    <span class="px-4 text-sm text-gray-900 font-bold">{{link.name}}</span>
                </a>
                </a>
            </li>
            <hr>
        @endeach
    </ul>

</div>

