node_modules
build
coverage
.vscode
.DS_STORE
.env
.env.old
*.log
tmp

public/*
!public/.gitkeep

content/themes/**
content/plugins/**
content/schemas/**

!content/**/.gitkeep

content/uploads

release