node_modules
build
coverage
.vscode
.DS_STORE
tmp

*.log

.env*
!.env.example


public/*
!public/.gitkeep

content/themes/**
content/plugins/**
content/schemas/**

!content/**/.gitkeep

content/uploads

release