// app global css in SCSS form

body {
    color: $blue-grey-8;
}

a {
    text-decoration: none;
    color: $primary;
}

$borders: (
    't': 'top',
    'b': 'bottom',
    'l': 'left',
    'r': 'right',
);

$colors: (
    'grey-4': $grey-4,
    'r': 'right',
);

@each $name, $color in $colors {
    .border-#{$name} {
        border-color: $color;
    }
}

@each $name, $border in $borders {
    .border-#{$name} {
        border-#{$border}-width: 1px;
        border-#{$border}-style: solid;
    }
}

.relative {
    position: relative;
}
