@layout('default-theme::layouts/main')

@section('meta-tags')
  <title>404 not found</title>
@endsection

@section('navbar')

  @!component('default-theme::components/navbar', { title: pageTitle })

@endsection

@section('sidebar')
 
  @!component('default-theme::components/sidebar', { links })

@endsection

@section('content')
404
@endsection